// Font property
$base-font-size : 25px;
$base-font-size-small : 15px;
$base-big-font-size : 35px;
$base-font-family:'Tangerine', sans-serif;
//Colors property
$primary-color: #F79420;
$secondary-color: #7e287f;
$secondary-color-dark: #320D33;
$light-color:#8C858B;
//Screen size for media query
$break-large: 1200px;
