.footer_main
{
background : #F79420;
background : rgba(247, 148, 32, 1);
position : absolute ;
left : 2px;
top : 1303px;
width : 1200px;
height : 97px;
}
/***********Social icons for desktop**************/
.socialicon_desk
{
background-image : url(../images/social_icon_1_.png);
background-repeat : no-repeat;
position : absolute ;
left : 943px;
top : 1322px;
width : 61px;
height : 61px;
}
.fbicon_desk
{
background-image : url(../images/fb_icon_1_.png);
background-repeat : no-repeat;
position : absolute ;
left : 1041px;
top : 1322px;
width : 61px;
height : 61px;
}
.twittericon_desk
{
	background-image : url(../images/twit_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 845px;
	top : 1322px;
	width : 61px;
	height : 61px;
}
