     /**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3, h4 {
  margin: 0 0 1em 0;
}





/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
       
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
     list-style: none;
  margin: 0 10px;
  padding: 0;
  position:relative;
  display:inline-table;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

li ul { 
   display: none; 
}

nav ul ul {
    background-color: #8b8378;
    margin-left: 0px;    
    border: 1px solid white;
}
nav ul ul ul{
    background-color: #364c62;
    border-radius:10px 10px;
    margin-left: 0px;
    
}

li:hover>ul{
    display: block;
    position: absolute;
    font-weight: 800;    
}

nav ul ul a {        
        padding: 0px 10px 0px;
}
nav ul ul  ul a {        
        padding: 0px 10px 0px;
}


li:hover li{
    float:left;    
}


/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  margin: 0 5px;
}

.copyright {
color: #34495e;
}


/**********************************
PAGE: PORTFOLIO
***********************************/
#portfolio {
text-align: center;
color: #34495e;
font-family: italic;
font-size: 30px;
background-image: url(developer.jpg);
width: 100%;
 height: 700px;

}




/**********************************
PAGE: ABOUT
***********************************/


.profile-photo {
  float: left;
  margin-right: 15px;
}
.profile-content{
    display: inline-block;
    width: 100%;
    border: 1px solid #34495e;
    padding: 20px;
    overflow: hidden;
}



/**********************************
PAGE: CONTACT
***********************************/
#contactme {
  color: #34495e;
}
.google-maps {
width: 100%;
align: center;
}





/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* grey header */
header {
  background: #34495e;
  border-color: #ecf0f1;
}

/* nav background on mobile */
nav {
  background: #7f8c8d;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}


/* selected nav link */
nav a.selected, nav a:hover {
  color: #bdc3c7;
}

/* ======= Footer ======= */
footer {
  
}

